header{
    background-color: rgb(255, 0, 0);
    border-color: aqua;
    border-radius: 8px;
    text-align: center;
    width: 1900px;
    height: 50px;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
}
.block1{
    background-color: lightblue;
    width: 604px;
    height: 500px;
    border-radius: 8px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    
}


.ab{
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
}

footer{
    background-color: rgb(148, 72, 72);
    border-color: aqua;
    border-radius: 8px;
    text-align: center;
    width: 1900px;
    height: 50px;
    margin: auto;
    padding: 5px;
    clear: both;
    border: 2px solid black;
}